body {
    background-color: #5F9EA0
}

.container {
    display: flex;
}

.scoreCard {
    display: flex;
    border: solid;
    border-color: black;
    height: 100px;
    width: 600px;
    border-radius: 10px;
    margin: auto;
    justify-content: space-between;
    padding: 10px;
    border-width: 2px;
}

.youScore {
    display: flex;
    color: white;
    flex-direction: column;
    width: 100px;
    align-items: center;
    font-family: sans-serif;
}

.computerScore {
    display: flex;
    color: white;
    flex-direction: column;
}

.name {
    display: flex;
    color: white;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px #333;
    font-family: sans-serif;
}

.scoreNum {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    align-items: center;
    height: 60px;
    width: 80px;
    justify-content: space-between;
    background-color: white;
    color: darkblue;
    border-radius: 10px;
    font-size: 15px;
}

.score {
    text-shadow: 2px 2px 4px #333;
    font-weight: bold;
}

.num {
    font-size: 40px;
    font-weight: bold;
    color: #3B4363
}

.card {
    color: #2A46C0;
}

.hands {
    display: flex;
    margin-top: 100px;
    height: 400px;
    width: 500px;
    margin-left: 37%;
    display: flex;
    flex-direction: column;
}

.results {
    display: flex;
    height: 300px;
    width: 600px;
    margin: auto;
    margin-top: 150px;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 30px;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 4px #333;
    flex-direction: column;
}

.handsShow {
    display: flex;
    justify-content: space-between;
}

.result {
    display: flex;
    align-items: center;
    font-size: 30px;
    flex: 1;
    padding-left: 5px;
    justify-content: center;
}

.resultsTop {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: auto;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 20px;
}


.handsTop {
    display: flex;
    justify-content: space-between;
}

.handsBottom {
    display: flex;
    justify-content: center;
}

.hands img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.handsShow img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
